{% load static %}

<div id="carouselExampleDark" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000" style="height: calc(95vh - 180px); min-height: 28rem;">
      <a href="{% url 'main_app:services' %}">

        <!--<div class="card-img-overlay">
            <div class="row justify-content-center">
              <div class="col-md-6 align-self-center">
                <h2>Test1</h2>
              </div>
            </div>
         </div>-->

        <img src="{% static 'image/AdobeStock_621130299.jpeg' %}" class="d-block w-100" alt="First slide">
      </a>
      <div class="carousel-caption text-start">
        <h1 style="color: aliceblue; font-size: 50px;">Autorizare ISCIR RSVTI</h1>
        <!--<p>Some representative placeholder content for the first slide.</p>-->
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000" style="height: calc(95vh - 180px); min-height: 28rem;">
      <a href="{% url 'main_app:services' %}">
        <img src="{% static 'image/AdobeStock_1258093415.jpeg' %}" class="d-block w-100" alt="Second slide">
      </a>
      <div class="carousel-caption text-start">
        <h1 style="color: aliceblue; font-size: 50px;">Servicii SSM</h1>
        <!--<p>Some representative placeholder content for the first slide.</p>-->
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000" style="height: calc(95vh - 180px); min-height: 28rem;">
      <a href="{% url 'main_app:services' %}">
        <img src="{% static 'image/AdobeStock_563913517.jpeg' %}" class="d-block w-100" alt="Third slide">
      </a>
      <div class="carousel-caption text-start">
        <h1 style="color: aliceblue; font-size: 50px;">Servicii PSI</h1>
        <!--<p>Some representative placeholder content for the first slide.</p>-->
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000" style="height: calc(95vh - 180px); min-height: 28rem;">
      <a href="{% url 'main_app:services' %}">
        <img src="{% static 'image/AdobeStock_1228333873.jpeg' %}" class="d-block w-100" alt="Fourth slide">
      </a>
      <div class="carousel-caption text-start">
        <h1 style="color: aliceblue; font-size: 50px;">Pachet complet consultanță</h1>
        <!--<p>Some representative placeholder content for the first slide.</p>-->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>